.logo img{
    position: relative;
    width: 100px;
    height: 100px;
}

#container{
    max-width: 1024px;
    max-height: auto;
    margin: 20px auto;
    padding: 0px;
    overflow: hidden;
  }

  .sampah img{
    position: relative;
    float: left;
    width: 65%;
    height: 400px;
  }

  .text{
   
    background-color: green;
  }

  .footer{
    max-width: 1024px;
    max-height: auto;
    margin: 20px auto;
    padding: 0px;
    overflow: hidden;
    background-color: green;
  }

  .gambar img {
    position: relative;
    float: left;
    width: 100%;
    height: 550px;
  }

  .gambar .text1{
    position: relative;
    float: left;
    height: 400px;
    width: 180px;
    position: absolute;
    top: 150px;
    left: 35px;
    
  }

  .gambar .text2{
    position: relative;
    float: left;
    height: 400px;
    width: 180px;
    position: absolute;
    top: 150px;
    left: 35px;
    
  }

  .button{
    background-color: #4040ff;
    border-radius: 20px;
    width: 100px;
    position: absolute;
    top: 400px;
    
  }

  .button1{
    background-color: #4040ff;
    border-radius: 20px;
    width: 100px;
    position: absolute;
    top: 400px;
    left: 120px;
    
  }

  .nama{
    font-size: 50px;
  }

  .fieldset{
    border: 10px;
  }

  .tukar{
    position: absolute;
    left: 120px;
  }

  

 
 

